.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 70%;
  }
  
  .title {
    margin-bottom: 10px;
    color: rgb(15, 6, 105);
    margin: 100px;
  }
  
  .text-field {
    margin-bottom: 20px;
    width: 100%;
  }
  
  
  .chart {
    width: 30%;
  }